git+https://${TOKEN}@github.com/squidfunk/mkdocs-material.git@9.5.31
git+https://${TOKEN}@github.com/pawamoy-insiders/griffe-typing-deprecated.git
git+https://${TOKEN}@github.com/pawamoy-insiders/mkdocstrings-python.git
