-e .[all]
-r requirements-docs-tests.txt
pytest >=8.2.2,<9.0.0
coverage[toml] >= 6.5.0,< 8.0
mypy ==1.10.1
ruff ==0.5.0
dirty-equals ==0.7.1.post0
# TODO: once removing databases from tutorial, upgrade SQLAlchemy
# probably when including SQLModel
sqlalchemy >=2.0.31,<2.0.32
databases[sqlite] >=0.9.0,<0.10.0
flask >=3.0.3,<4.0.0
anyio[trio] >=4.4.0,<5.0.0
PyJWT==2.8.0
pyyaml >=5.3.1,<7.0.0
passlib[bcrypt] >=1.7.2,<2.0.0

# types
types-ujson ==5.10.0.20240515
types-orjson ==3.6.2
